{% extends 'base.html.twig' %}

{% block title %}Manga index{% endblock %}

{% block main %}
    <h1 
        class="text-center my-4 fw-bold" 
        style="background: linear-gradient(90deg, #FF4500, #FFA500, #FFD700); -webkit-background-clip: text; color: transparent; font-family: 'Arial', sans-serif; text-transform: uppercase;">
        <i class="bi bi-people-fill"></i> Members List
    </h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    <i class="bi bi-person-badge"  style="color: orange;"></i> Id
                </th>
                <th>
                    <i class="bi bi-person"  style="color: orange;"></i> Name
                </th>
                <th>
                    <i class="bi bi-person-lines-fill"  style="color: orange;"></i> Surname
                </th>
                <th>
                    <i class="bi bi-envelope"  style="color: orange;"></i> Email
                </th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.surname }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{{ path('app_member_show', {'id': member.id}) }}">
                        show
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
