{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block main %}
    <h1>Membre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ member.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ member.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <th>Mangashelf</th>
                <td><a href="{{ path('mangashelf_show', {'id' : member.Mangashelf.id}) }}">{{ member.Mangashelf.name }}</a></td>
            </tr>
            <tr>
                <th rowspan="{{ member.mangatheques|length + 1 }}">Mangatheques <br> <br>
                    <a class="btn mt-auto btn-sm btn-secondary" href="{{ path('app_mangatheque_new', {'id': member.id}) }}">Nouvelle mangatheque</a>
                </th>

            </tr>
            {% for mangatheque in member.mangatheques|filter(m => m.publiee) %}
                <tr>
                    <td>
                        <p class="fw-normal">{{ mangatheque.name }}</p>
                        <p class="fw-light">{{ mangatheque.description }}</p>

                        <div class="text-center">
                            <a class="btn btn-success btn-sm" href="{{ path('app_mangatheque_show', {'id': mangatheque.id}) }}">Consulter</a>
                            <a href="{{ path('app_mangatheque_edit', {'id': mangatheque.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                            <a href="{{ path('app_mangatheque_delete', {'id': mangatheque.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </div>
                        

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn mt-auto btn-sm btn-secondary" href="{{ path('app_membre') }}">Check members list</a>
{% endblock %}
