{% extends 'base.html.twig' %}
{# ... #} 
  {% block body %}
      <h1>mangashelf</h1>

         {% dump mangashelf %}

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ mangashelf.id }}</td>
              </tr>
              <tr>
                  <th>mangashelf</th>
                  <td>{{ mangashelf.name }}</td>
              </tr>
              <tr>
                  <th>Mangas</th>
                  <td>
                  <ul>
                  {%  for manga in mangashelf.mangas %}
                  <li> <a href="{{ path('mangas_show', {'id': manga.id}) }}">{{ manga.Name }}</a> written by {{ manga.Author }}
                  </li>
                  {% endfor %} 
                  </ul> 
                  </td>
              </tr>
              ...
          </tbody>
      </table>

 <a href="{{ path('mangashelf_list') }}">back to list</a>

  {% endblock %} {# body #} 
{# ... #} 
