{% extends 'base.html.twig' %}

{% block main %}
	<h1 class="text-center my-4 fw-bold" style="background: linear-gradient(90deg, #FF4500, #FFA500, #FFD700);
			            -webkit-background-clip: text;
			            color: transparent;
			            font-family: 'Arial', sans-serif;
			            text-transform: uppercase;">
		<i class="bi bi-journal"></i>
		My Mangashelf Details
	</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ mangashelf.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ mangashelf.name }}</td>
			</tr>
			<tr>
				<th>Mangas:</th>
				<td>
					{% block list %}
						<div class="container px-4 px-lg-5 mt-3">
							<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
								{% for item in mangashelf.mangas %}
									<div class="col mb-4">
										<div class="card h-100">
											<img class="card-img-top" src="{{ vich_uploader_asset(item, 'imageFile') ?: 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg' }}" alt="Manga Image"/>
											<div class="card-body p-4">
												<div class="text-center">
													<h5 class="fw-bolder">{{ item.name }}</h5>
													Written by:
													<b>{{ item.author }}</b>
												</div>
											</div>
											<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
												<div class="text-center">
													<a class="btn btn-outline-dark mt-auto" href="{{ path('app_manga_show', {'id': item.id}) }}">Manga details</a>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endblock %}
				</td>
			</tr>
		</tbody>
	</table>

	<div class="text-center">
		<a class="btn btn-warning btn-sm" href="{{ path('app_manga_new', {'id': mangashelf.id}) }}">Add manga</a>
		<a class="btn mt-auto btn-sm btn-secondary" href="{{ path('app_member_show', {'id': mangashelf.membre.id}) }}">back to member</a>
	</div>
{% endblock %}
