{% extends 'base.html.twig' %}

{% block title %}Manga index{% endblock %}

{% block main %}
	<h1 class="text-center my-4 fw-bold" style="background: linear-gradient(90deg, #FF4500, #FFA500, #FFD700); -webkit-background-clip: text; color: transparent; font-family: 'Arial', sans-serif; text-transform: uppercase;">
		<i class="bi bi-journal-richtext"></i>
		Mangas
	</h1>

	<div class="container px-4 px-lg-5 mt-3">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			{% for item in mangas %}
				<div class="col mb-4">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" src="{{ vich_uploader_asset(item, 'imageFile') ?: 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg' }}" alt="Manga Image"/>

						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder">{{ item.name }}</h5>
								<!-- Product author-->
								<p>
									Written by: <b>{{ item.author }}</b>
								</p>
								{% if item.mangashelf.membre == app.user %}
									<p class="badge rounded-pill bg-success">My Manga</p>
								{% else %}
									<p class="badge rounded-pill bg-dark">Owner: <b>{{ item.mangashelf.membre.name }}</b></p>
								{% endif %}
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<a class="btn btn-info btn-outline-dark mt-auto" href="{{ path('app_manga_show', {'id': item.id}) }}">show</a>
								{% if item.mangashelf.membre == app.user %}
									<a class="btn btn-warning btn-outline-dark mt-auto" href="{{ path('app_manga_edit', {'id': item.id}) }}">edit</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
