<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        {% endblock %}

        <style>
            .nav-link:hover {
                background-color: rgba(255, 165, 0, 0.2); /* Orange hover effect */
                color: #FF4500; /* Stronger orange text on hover */
            }
            .logout-tooltip:hover::after {
              content: "Logout"; /* Display 'Logout' when hovered */
              position: absolute;
              right: 100;
              top: 60%;
              color: gray;
              padding: 3px 6px;
              border-radius: 3px;
              font-size: 0.85rem;
              white-space: nowrap;
            }
        </style>

        
    </head>
    <body>
        {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="#">Mangageek</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                      {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_manga_index') }}">My Mangas</a>
                        </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('mangashelf_show',{'id':app.user.mangashelf.id}) }}">My Mangashelf</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_mangatheque_mine') }}">My Mangatheque</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_mangatheque_index') }}">Liste des Mangathèques</a>
                          </li>
                      {% else %}
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                          </li>
                      {% endif %}
                  </ul>
                   {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link me-3 text-secondary" href="{{ path('app_membre') }}">Members' List</a>
                        <a class="nav-link me-3 text-secondary" href="{{ path('mangashelf_list') }}">Mangashelves List</a>
                    {% endif %}
                    <div class="d-flex align-items-center">
                        <a class="nav-link me-4 account" href="{{ path('app_member_show', {'id': app.user.id}) }}">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <a class="nav-link logout-tooltip" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right"></i>
                        </a>
                    </div>
                {% endif %}
              </div>
          </div>
      </nav>
        {% endblock %}
        {% block body %}
            <div class="container body-container">
     <div class="row">
       <div id="main" class="col-md-12">

         {% block alerts %}
            {% if app.request.hasPreviousSession %}
               <div class="messages">
                  {% for type, messages in app.flashes %}
                     {% for message in messages %}
                        {# Bootstrap alert, see https://getbootstrap.com/docs/3.4/components/#alerts #}
                        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            <div>{{ message|trans }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'action.close'|trans }}"></button>
                        </div>
                     {% endfor %}
                  {% endfor %}
               </div> {# .messages #}
            {% endif %}
         {% endblock %} {# alerts #}

         <main>

            {# Ici la partie utile que les gabarits des pages vont surcharger #}
            {% block main %}
                              <div class="row">
                                <div class="col-md-12">
                                  <p>
                                    <i>MAIN</i>
                                  </p>
                                </div>
                              </div>
            {% endblock %} {# main #}

         </main>
       </div> <!-- main -->

     </div> <!-- row -->

   </div> <!-- /.body-container -->
        {% endblock %}

        {% block javascripts %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %} {# javascripts #}
        

    </body>
</html>
