{% extends 'base.html.twig' %}

{% block title %}Mangatheque index{% endblock %}

{% block main %}

    <h1 
        class="text-center my-4 fw-bold" 
        style="background: linear-gradient(90deg, #FF4500, #FFA500, #FFD700); -webkit-background-clip: text; color: transparent; font-family: 'Arial', sans-serif; text-transform: uppercase;">
        <i class="bi bi-book"></i> Mangathèques
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Publiee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mangatheque in mangatheques %}
            <tr>
                <td>{{ mangatheque.id }}</td>
                <td>
                    <strong>{{ mangatheque.name }}</strong>
                </td>
                <td>
                    <span style="font-style: italic; color: gray;">
                        {{ mangatheque.description }}
                    </span>
                </td>
                <td>{{ mangatheque.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{{ path('app_mangatheque_show', {'id': mangatheque.id}) }}">show</a>
                    <a class="btn btn-outline-success btn-sm" href="{{ path('app_mangatheque_edit', {'id': mangatheque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
