{% extends 'base.html.twig' %}

{% block title %}Mangatheque index{% endblock %}

{% block main %}
    <h1>Mangatheque index</h1>
 {# <a href="{{ path('app_mangatheque_new') }}">Create new</a> #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mangatheque in mangatheques %}
            <tr>
                <td>{{ mangatheque.id }}</td>
                <td>{{ mangatheque.description }}</td>
                <td>{{ mangatheque.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_mangatheque_show', {'id': mangatheque.id}) }}">show</a>
                    <a href="{{ path('app_mangatheque_edit', {'id': mangatheque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
