{% extends 'base.html.twig' %}
{# ... #} 
  {% block body %}
      <h1>Manga</h1>

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ manga.id }}</td>
              </tr>
              <tr>
                  <th>manga</th>
                  <td>{{ manga.name }}</td>
              </tr>
              <tr>
                  <th>author</th>
                  <td>{{ manga.author }}</td>
              </tr>
              <tr>
                  <th>Mangashelf</th>
                  <td><a href="{{ path('mangashelf_show', {'id': manga.mangashelf.id}) }}">{{ manga.mangashelf.name }}</a></td>
              </tr>
              ...
          </tbody>
      </table>

  {% endblock %} {# body #} 
{# ... #} 
