{% extends 'base.html.twig' %}
{# ... #} 
  {% block body %}
      <h1>Manga</h1>

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ manga.id }}</td>
              </tr>
              <tr>
                  <th>manga</th>
                  <td>{{ manga.name }}</td>
              </tr>
              <tr>
                  <th>author</th>
                  <td>{{ manga.author }}</td>
              </tr>
              <tr>
                  <th>Mangatheque(s)</th>
                <td>
                    <ul>
                        {% for mangatheque in manga.mangatheques %}
                            <li>
                                <a href="{{ path('app_mangatheque_show', {'id': mangatheque.id}) }}">
                                    {{ mangatheque.name }} (ID: {{ mangatheque.id }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
              </tr>
              ...
          </tbody>
      </table>

      <h2>mangas</h2>


  {% endblock %} {# body #} 
{# ... #} 
